body,html {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
div.login-container {
    display: flex;
    flex: 1;
}
div.img-hero {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    flex-direction: column;
    position: relative;
    min-height: 300px;
}
div.img-hero:before {
    background-color: black;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.1;
    background-position: center;
    background-size: cover;
}
div.img-hero:after {
    background-image: url("https://www.shawmut.com/assets/images/back_end/portfolio/1_1424294905_Brown-Andrews-1.jpg");
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -2;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
}
.h1-hero {
    color: white;
    font-weight: bold;
    box-sizing: content-box;
    height:auto;
    margin-bottom: 40px;
}
#home-button {
    max-width: 160px;
    min-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}
h1.expanded-offer-title{
    border-bottom-width: 3px;
    border-color: black;
}
div.expanded-offer-content-container {
    width: 70vw;
/*    background-color: black;
*/    /*display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;*/
}
div.expanded-offer-content {
    margin: 10px;
    margin-bottom: 40px;
    position: relative;
}
div.expanded-offer-button-container{
    display: flex;
    justify-content: center;
}
div.expanded-offer-contact-profile-info{
    display: inline-flex;
    align-items: center;
/*    background-color: yellow;
*/}
h3.expanded-offer-contact-profile-username{
    display: inline;
}
img.expanded-offer-contact-profile-photo {
    margin: 0;
    width:70px;
    height: 70px;
    border-radius: 50%;
    display: inline;
    margin-right: 20px;
}
h2.expanded-offer-time-title{
    height: 50px;
    margin: 0;

   /* border-bottom-width: 3px;
    border-color: black;*/
}
h3.expanded-offer-meeting-days {
/*    background-color: green;
*/    font-size: 20px;
    margin: 0;
    font-style: italic;
}
div.expanded-offer-time, div.expanded-offer-location {
    display: inline-block/*-flex*/;
    /*flex-direction: column;
    justify-content: space-between;*/
    height: 150px;
/*    margin-bottom: 50px;
*/}
div.expanded-offer-location{
    position: absolute;
    left: 500px;
}

div.expanded-offer-contact-contact-info{
    display: inline-block;
    position: absolute;
    left: 500px;
    bottom: 0;
    height: 100%;
}
img.expanded-offer-contact-contact-mail-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px; 
}
div.profile-container {
    margin: 50px;
}
ul.profile-info {
    padding: 0;
    display: inline-block;
}
div.profile-info-header {
    font-size: 20px;
    font-weight: bold;
}
div.profile-info-value {
    font-size: 15px;
    margin-left: 20px;
}
div.profile-info-field {
    margin-right: 40px;
    margin-bottom: 20px;
}
.profile-info-value-input {
    margin: 2px;
    width: 100%;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
img.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
}
div.edit-button-container {
    display: inline-block;
    position: absolute;
    top: 5px;
}
img.edit-button-img {
    width: 30px;
    height: 30px;
}
h5.expanded-offer-contact-contact-mail{
    display: inline-block;
}
#contact-button {
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    display: block;
    border-width: 0;
    background-color: #0A6BC0;
    border-radius: 50px;
    color: white;
    font-size: 15px;
}

[data-reactroot] {
    height: 100% !important;
    display: flex;
    flex-direction: column;
}
#app {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
a, p, h1, body {
    font-family: 'Roboto', sans-serif;
}
a#a-logout {
    float: right;
    margin-left: auto;
    color: white;
}
div.div-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
div.div-outer-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
div.div-footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #f2f2f2;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    display: flex;
}
a.a-bot-href {
    font-size: 14px;
    padding: 0px 20px 0px 0px;
    cursor: pointer;
    color: #777;
}
a:hover {
    text-decoration: none;
}

ul.ul-bot-nav {
    list-style: none;
}
li.li-bot-nav {
    float: right;
    margin: 12px 0px;
    margin-right: 10px;
    margin-left: 0px;
}

div.div-login {
    width: 50%;
    height: 500px;
    margin: auto;
    border: 1px solid #f2f2f2;
    margin-top: 20px;
    border-radius: 5px;
}
.panel {
    border: 0px;
}
.panel-heading {
    padding: 0px;
    margin-bottom: 50px;
}
#panel-login {
    text-align: center;
    padding: 10px 0px;
    width: 50%;
    display: inline-block;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}
#panel-register {
    text-align: center;
    padding: 10px 0px;
    width: 50%;
    display: inline-block;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}
div#panel-login:active {
    background-color: #f2f2f2;
}
div#panel-register:active {
    background-color: #f2f2f2;
}
.panel-active {
    border-bottom: 0px !important;
}
#form-login {
    height: 100%;
}
#form-register {
    display: none;
}
#outer-panel {
    height: 100%;
}
.btn-login,.btn-register {
    margin-top: 15px;
    background-color: #32c1f1;
    color: white;
}
.btn-register:hover,.btn-login:hover {
    background-color: #00b2ee;
    color: white;
}
.btn-register:active,.btn-login:active {
    background-color: #00a0d6;
    color: white;
}
/*.btn-default {
    margin-left: px;
}*/
p.p-login {
    color: white;
}
p.p-register {
    color: white;
}
p.p-featured {
    color: #444;
    font-size: 21px;
    line-height: 1.5;
}
/*div.ul-expanded-container {
    margin: 0 auto;
    width: 50vw;
    height: 70vh;
    background-color: green;
}*/
div.featured-body {
    display: flex;
    flex-direction: column;
    flex: .75;
    padding-top: 25px;
    padding-left: 25px;
    max-width: 100%;
    min-width: 600px;
}
div.offer-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 25px;
    padding-left: 25px;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.expanded-offer-body {
    /*display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;*/
    padding: 25px;
}

div.filter-body {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 200px;
    border-right: 1px solid #f2f2f2;
    height: 100%;
    background-color: #f2f2f2;
}
div.market-body {
    display: flex;
    flex-direction: row;
    flex: 1;
}

div.div-detailed-offer {
/*    background: red,
*/}

li.li-offer {
    min-height: 150px;
    width: 27%;
    min-width: 150px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    display: inline-block;
    margin-right: 10px;
    flex-direction: column;
    margin-bottom: 25px;
    cursor: pointer;
}
div.offer-title {
    display: flex;
    min-height: 30px;
    width: 100%;
    vertical-align: middle;
}
p.p-offer-title {
    margin: 0px;
    margin-top: 4px;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
}
div.offer-description {
    display: flex;
    min-height: 50px;
    width: 100%;
    flex: 1;
    flex-direction: column;
}
div.offer-footer {
    display: flex;
    min-height: 50px;
    width: 100%;
}
div.div-offer {
    min-height: 150px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
}

p.price {
    color: #B12704;
    font-size: 16px;
    margin-left: auto;
    float: right;
    margin-right: 5px;
    margin-top: 12px;
}
p.p-stock {
    color: #008a00;
    margin-left: 5px;
    float: left;
    display: flex;
    margin-right: auto;
    margin-top: 12px;
}
p.p-location {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
} 
ul.ul-days {
    display: flex;
}
li.li-days {
    display: inline-block;
}
div.div-search-body {
    width: 100%;
    height: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #f2f2f2;
}
.navbar {
    margin: 0px;
    border-radius: 0px;
    display: flex;
    background-color: #f2f2f2;
    border-width: 0;
}
div.tab {
    height: 48px;
    border-width: 2px;
    border-color: black;
    width: 100px;
    margin-right: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
div.tab:hover {
    font-size: 15px;
}
div.tab_container{
    margin-left: 30px
}
#div-header{
    background-color: #006fc0;
}
#input-search, #submit-search {
    display: inline-block;
}
#input-search {
    border-radius: 3px;
    height: 36px;
    margin-left: 184px;
}
#submit-search {
    width: 200px;
}
.input-group-btn {
    border: 1px solid #ccc;
}
#dropdown-caret {
    margin-left: 5px;
}
.dropdown {
    float: left;
    margin-left: 35px;
}
.button-buy,.button-sell {
    float: right;
    margin-left:auto;
    max-height: 30px;
}
p.categories-text {
    font-weight: 700;
    color: #111;
    font-size: 16px;
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}
ul.ul-categories {
    list-style-type: none;
    padding-left: 0px;
}
li.li-categories {
    padding-left: 30px;
    cursor: pointer;
}
ul.ul-container, ul.ul-container-scrollable {
    width: 100%;
    height: 100%;   
}
ul.ul-container-scrollable{
    overflow-x: scroll;
    white-space: nowrap;
}
div.blank-space {
    min-height: 50px;
    width: 100%;
    display: flex;
}
a {
    color: white;
}
a.logo {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
a.logo2 {
    font-size: 22px;
    font-family: 'Anivers', sans-serif;
    line-height: 1.5;
    font-weight: 500;
    margin-left: 10px;
    color: white;
}
img.background {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 550px;
    left: 0px;
    z-index: 0;
    opacity: 0.80;
    filter: brightness(85%);
}

.input-group-btn{
    position: absolute;
    left: 490px;
}
#search-button {
    border-radius: 0px;
}
ul.ul-location {
    list-style-type: none;
    padding-left: 5px;
}
li.li-location {
    display: inline-block;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    margin-right: 15px;
    margin-bottom: 10px;
}
p.p-location-tag {
    font-size: 12px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
